body {
    display: flex;
    background-color: rgb(47, 47, 47);
    align-items: center;
    justify-content: center;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.top-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.btn {
    width: 75px;
    height: 75px;
    margin: 15px;
    font-size: 40px;
}

.number {
    border: 2px solid greenyellow;
    border-radius: 10px;
}

.number:hover {
    background-color: rgb(59, 227, 59);
}

.operator {
    border: 2px solid steelblue;
    border-radius: 10px;
}

.operator:hover {
    background-color: rgb(12, 138, 234);
}

.decimal {
    border: 2px solid gold;
    border-radius: 10px;
}

.decimal:hover {
    background-color: rgb(239, 225, 70);
}

.equal {
    border: 2px solid pink;
    border-radius: 10px;
}

.equal:hover {
    background-color: rgb(219, 39, 120);
}

.clear {
    border: 2px solid violet;
    border-radius: 10px;
}

.clear:hover {
    background-color: rgb(214, 59, 214);
}

.calculator {
    width: 450px;
    border: 15px #333 solid;
    border-radius: 15px;
    padding: 20px;
    margin-top: 70px;
}

.screen {
    width: 300px;
    border: 1px solid salmon;
    height: 75px;
    margin: 15px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 5px;
}

.previous {
    font-size: 20px;
    color: white;
}

.current {
    font-size: 30px;
    color: white;
}