body {
    display: flex;
    background-color: rgb(47, 47, 47);
    align-items: center;
    justify-content: center;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.screen {
    width: 300px;
    border: 1px solid salmon;
    height: 75px;
    margin: 15px;
}

.top-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.btn {
    width: 75px;
    height: 75px;
    margin: 15px;
    font-size: 40px;
}

.number {
    border: 1px solid greenyellow;
    border-radius: 10px;
}

.operator {
    border: 1px solid steelblue;
    border-radius: 10px;
}

.decimal {
    border: 1px solid gold;
    border-radius: 10px;
}

.equal {
    border: 1px solid pink;
    border-radius: 10px;
}

.clear {
    border: 1px solid violet;
    border-radius: 10px;
}

.clear {
    border: 1px solid violet;
}

.calculator {
    width: 450px;
    border: 15px #333 solid;
    border-radius: 15px;
    padding: 20px;
    margin-top: 10px;
}